<h2>My Movies Users</h2>
<p>List of all users of My Movies Web App</p>

<% if @users.empty? %>
    <p>There are no users registered.</p>
<% else %>
    <ul class="list-group list-inline">
        <% @users.each do |user| %>
            <li class="list-group-item list-inline-item"><%= link_to user.name, user %></li>
        <% end %>
    </ul>
<% end %>
