<%= form_with(url: search_path, local: true, method: "get", class: "form-inline mt-2 mt-md-0") do %>
    <%= text_field_tag(:search_term, nil, placeholder: "Movies Search", class: "form-control mr-sm-2") %>
    <%= submit_tag("Search", class: "btn btn-outline-success my-2 my-sm-0") %>
    <%=%>
<% end %>


<%# <form class="form-inline mt-2 mt-md-0" action="/search" accept-charset="UTF-8" method="get">
    <input name="utf8" type="hidden" value="&#x2713;" />
    <input type="text" name="q" id="q" class="form-control mr-sm-2" placeholder="Movies Search" />
    <select name="category" id="category" class="form-control mr-sm-2">
        <option value="0">All Genres</option>
        <option value="46">Abstract Strategy</option>
        <option value="52">Action / Dexterity</option>
        <option value="11">Adventure</option>
        <option value="65">Age of Reason</option>
        <option value="74">American Civil War</option>
        <option value="67">American Indian Wars</option>
        <option value="68">American Revolutionary War</option>
        <option value="26">American West</option>
        <option value="19">Ancient</option>
        <option value="21">Animals</option>
        <option value="48">Arabian</option>
        <option value="49">Aviation / Flight</option>
        <option value="33">Bluffing</option>
        <option value="60">Book</option>
        <option value="3">Card Game</option>
        <option value="75">Children&#39;s Game</option>
        <option value="20">City Building</option>
        <option value="4">Civilization</option>
        <option value="61">Civil War</option>
        <option value="32">Collectible Components</option>
        <option value="55">Comic Book / Strip</option>
        <option value="38">Deduction</option>
        <option value="15">Dice</option>
        <option value="5">Economic</option>
        <option value="69">Educational</option>
        <option value="59">Electronic</option>
        <option value="1">Environmental</option>
        <option value="62">Expansion for Base-game</option>
        <option value="12">Exploration</option>
        <option value="9">Fantasy</option>
        <option value="22">Farming</option>
        <option value="13">Fighting</option>
        <option value="81">Game System</option>
        <option value="27">Horror</option>
        <option value="58">Humor</option>
        <option value="18">Industry / Manufacturing</option>
        <option value="82">Korean War</option>
        <option value="78">Mafia</option>
        <option value="84">Math</option>
        <option value="42">Mature / Adult</option>
        <option value="71">Maze</option>
        <option value="2">Medical</option>
        <option value="23">Medieval</option>
        <option value="70">Memory</option>
        <option value="14">Miniatures</option>
        <option value="6">Modern Warfare</option>
        <option value="16">Movies / TV / Radio theme</option>
        <option value="28">Murder/Mystery</option>
        <option value="83">Music</option>
        <option value="25">Mythology</option>
        <option value="72">Napoleonic</option>
        <option value="37">Nautical</option>
        <option value="45">Negotiation</option>
        <option value="66">none</option>
        <option value="24">Novel-based</option>
        <option value="80">Number</option>
        <option value="39">Party Game</option>
        <option value="77">Pike and Shot</option>
        <option value="64">Pirates</option>
        <option value="7">Political</option>
        <option value="50">Post-Napoleonic</option>
        <option value="47">Prehistoric</option>
        <option value="73">Print &amp; Play</option>
        <option value="29">Puzzle</option>
        <option value="56">Racing</option>
        <option value="57">Real-time</option>
        <option value="35">Religious</option>
        <option value="43">Renaissance</option>
        <option value="17">Science Fiction</option>
        <option value="31">Space Exploration</option>
        <option value="40">Spies/Secret Agents</option>
        <option value="63">Sports</option>
        <option value="10">Territory Building</option>
        <option value="51">Trains</option>
        <option value="34">Transportation</option>
        <option value="36">Travel</option>
        <option value="79">Trivia</option>
        <option value="30">Video Game Theme</option>
        <option value="76">Vietnam War</option>
        <option value="8">Wargame</option>
        <option value="41">Word Game</option>
        <option value="53">World War I</option>
        <option value="54">World War II</option>
        <option value="44">Zombies</option>
    </select>
    <input type="submit" name="commit" value="Search" class="btn btn-outline-success my-2 my-sm-0" data-disable-with="Search" />
</form> %>